<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/challenges">Challenges</a>
    </li>
    <AuthorizeView>
        <Authorized>
            <li class="nav-item">
                <a class="nav-link" href="/progress">My Progress</a>
            </li>
            <AuthorizeView Roles="Admin" Context="adminContext">
                <Authorized>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                </Authorized>
            </AuthorizeView>
        </Authorized>
    </AuthorizeView>
</ul>

<ul class="navbar-nav">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                    @context.User.Identity?.Name
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <form method="post" action="/api/account/logout" style="margin: 0;">
                            <button type="submit" class="dropdown-item" style="border: none; background: none; cursor: pointer; text-align: left; width: 100%;">
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <a class="nav-link" href="/Account/Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Account/Register">Register</a>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</ul>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }
}
